body{
background-image:url("light.png");
background-repeat: no-repeat;
background-size:cover;
}
td:hover, th:hover{
background-color:white;
}
tr{
background-color:FloralWhite;
}
table{
position: fixed;
top: 20%;
left:35%;
}